.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 80px 170px;
}
.about-title{
  position: relative;
}
.about-title h1{
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}
.about-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.image{
  width:460px;
  height: 430px;
}

.about-sections{
  display: flex;
  gap: 80px;
}
.about-right{
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-para{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}
.about-skills{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill{
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p{
  font-size: 24px;
  min-width: 150px;
  font-weight: 500;
}
.about-skill hr{
  border:none;
  width: 50%;
  height: 8px;
  background: linear-gradient(264deg,#08d1df 50%,#15ffb9 80%);
  outline: none;
  border-radius: 50px;
}
.about-acheivments{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}
.about-acheivment{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;

}
.about-acheivment h1{
  font-size: 80px;
  font-weight: 800;
  background: linear-gradient(270deg,#08d1df 50%, #15ff5b 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.about-acheivment p{
  font-size: 28px;
  font-weight: 400;
}
.about-skill:hover{
  transform: scale(1.10);
  transition: 0.4s;
}
.about-acheivment:hover{
  transform: scale(1.12);
  transition: 0.4s;
}
@media(max-width:768px){
  .about{
    gap: 80px;
    align-items: start;
    margin: 50px 70px;
  }
  .about-title h1{
    font-size: 50px;
    padding: 0;
  }
  .about-title img{
    width:130px;
    right: -20;
  }
  .about-sections{
    flex-direction: column;
  }
  .about-left{
    display: none;
  }
  .about-para{
    font-size: 18px;
    line-height: 32px;
  }
  .about-skill{
    gap: 20px;
    align-items: center;
  }
  .about-skill p{
    font-size: 20px;
  }
 .about-skill hr{
  height: 6px;
 }
 .about-acheivments{
  justify-content: space-between;
 }
 .about-acheivment{
  gap: 10px;
 }
 .about-acheivment h1{
  font-size: 34px;
  font-weight: 700;
 }
 .about-acheivment p{
  font-size: 18px;
  text-align: center;
 }

}